<odoo>
	<data>
		<menuitem id="medical_root_menu" name="Medical"/>
		<menuitem id="medical_configuration_root_menu" name="Configuration" parent="medical_root_menu" sequence="300"/>

		<menuitem id="medical_record_menu" name="Medical Records" parent="medical_root_menu" action="medical_record_act" sequence="10"/>
		<menuitem id="medical_allergy_menu" name="List of Allergy" parent="medical_configuration_root_menu" action="medical_allergy_act" sequence="10"/>
	</data>
</odoo>